table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  text-align: center;
}

th {
  /* width: 200px; */
  padding: 10px;
  background: #000;
  color: whitesmoke;
}

td {
  text-align: center;
  padding: 10px;
  background: rgb(216, 216, 216);
  color: teal;
}

<<<<<<< HEAD
span {
  margin: 0 15px;
  font-weight: 600;
=======
h4 {
  display: inline;
  margin: 0 10px;
}

.btn {
  padding: 0 50px;
  height: 39px;
>>>>>>> 1d6748f66bea7961618f421341e6691794d087d3
}